Package: iwinfo
Version: 44
Depends: libc, libiwinfo
Provides: 
Source: package/iwinfo
Section: utils
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Jo-Philipp Wich <xm@subsignal.org>
Architecture: ar71xx
Installed-Size: 7784
Description:  Command line frontend for the wireless information library.
