Package: libiwinfo
Version: 44
Depends: libc, libnl-tiny
Provides: 
Source: package/iwinfo
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Jo-Philipp Wich <xm@subsignal.org>
Architecture: ar71xx
Installed-Size: 26663
Description:  Wireless information library with consistent interface for proprietary Broadcom,
 madwifi, nl80211 and wext driver interfaces.
